body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import './scss/utiles/container.scss';
@import './App.scss';
@import './scss/blocks/nav.scss';
@import './scss/blocks/home.scss';
@import './scss/blocks/about.scss';
@import './scss/blocks/search.scss';
@import './scss/blocks/card.scss';
@import './scss/blocks/alert.scss';
@import './scss/blocks/profile.scss';
@import './scss/blocks/repo.scss';
